<html>
<head>
  <meta charset="UTF-8">
  <title>clickclack sign up</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <header id='header'>
    <a class='loginstitle' id='title' href='/'>clickclack</a>
  </header>
  <div id='login'>
    <h1>sign up</h1>
    <form method='POST' action='/signup'>
      <input name="username" type="text" placeholder="username"></input>
      <input name="password" type="password"></input>
      <input type='submit' value='Create User'></button>
    </form>
  </div>
</body>
</html>
